body {
  background: #dddddd;
  font-family: sans-serif;
}

img {width: 100%;}

/* SVG Animations */
.button{
  animation: grow 2s infinite alternate;
  transform-origin: center;
  cursor: pointer;
}

.button:hover {
  fill: #e6a1e8;
}

@keyframes grow {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

.cls-1 {
  transition: all 4s;
  transform-origin: center;
}

.cls-1:hover {
  transform: rotate(360deg);
}

.cls-5 {
  cursor: pointer;
  transition: all .5s;
  transform-origin: center;
}
.cls-5:hover {
  fill: #4da3f1;
  transform: rotate(60deg);
}

/* Text overlay */
.label {
  position: absolute;
  text-align: center;
  width: 250px; /* Set a width, otherwise text element would span entire container width */
  top: 10vh; /* 10% of browser height, measured from top */
  left: 40vw; /* 40% of browser width, measured from left */
  /* Positioning for flexible browser sizes is hard, but using percentages instead of pixels makes it easier */

}

/* Animated Pop up */
.pop-up {
  /* Make invisible when page first loads */
  visibility: hidden;
  /* Positon in center of screen */
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*Set size and styling details*/
  padding: 20px;
  width: 300px;
  height: 400px;
  background: white;
  /* Add a drop shadow */
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
}


/* When 'active' class is added...
You could also toggle CSS transform properties when an element is clicked! */
.pop-up.active {
  visibility: visible;
}

/* Styles the X button for closing the pop-up */
.exit {
  float: right;
  cursor: pointer;
  margin: 5px;
}

.two-pangolins img{
  width: 45%;
}
